.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  @supports (display: grid) {
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // without using mideaquery we can use this minmax to create responsive grid layout
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 8rem 0;
  }
}

.feature {
  //this is for the browser cannot support the CSS grid layout
  float: left;
  width: 33.333%;
  margin-bottom: 6rem;

  @supports (display: grid) {
    width: auto;
    margin-bottom: 0;
  }

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    // 1 / -1 is not working cause the -1 only work with explicit grid
    grid-row: 1 / span 2;
    //center the icon
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
